body, .demo {
  font-family: 'Titillium Web', sans-serif;
}
body {
  height: 25em;
  margin: 0;
  background-color: #161819;
  font-size: 4vh;
  line-height: 1.5;
  user-select: none;
}
a {
  color: inherit;
  position: relative;
  z-index: 9;
}
h1, p {
  margin: 0.5em 0;
}
h1, .timeline th, .demo-quote::before {
  font-family: Raleway, sans-serif;
}
h1 {
  color: #27556c;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2em;
}
ul, ol {
  margin: 0;
}
li {
  margin: 0.5em 0 0 -0.33em;
  padding: 0 1em;
}
code, pre {
  background-color: #a6b8c1;
  color: #617078;
}
code {
  padding: 0.2em 0.3em;
  font-size: 0.8em;
}
pre, .demo {
  margin: 1em 0;
  border: 0.125em solid #859fab;
  padding: 1em;
  overflow: hidden;
  font-size: 0.6em;
  line-height: 1.2;
}
pre {
  white-space: pre-line;
}
pre:first-child, .demo:first-child {
  margin-top: 0;
}
.presentation {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em 3em;
  background-color: #d2d7d9;
  color: #374952;
  transition: left 600ms, box-shadow 600ms;
}
.slide:nth-child(4n) {
  background-color: #a6b8c1;
}
.slide-toggle:checked + .slide {
  left: 0;
  box-shadow: 0 0 1em #161819;
}
.slide-toggle:checked + .slide ~ .slide {
  left: 100%;
}
.slide::after {
  content: counter(slide) ' / 18';
  counter-increment: slide;
  display: block;
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: #617078;
  font-weight: bold;
}
.slide > ul, .half > ul, .slide > ol, .half > ol {
  height: 100%;
  margin: 0;
  border: solid #859fab;
  border-width: 0.15em 0 0 0.15em;
  padding-top: 0.5em;
}
.slide-toggle {
  position: absolute;
  top: -100%;
}
.slide-previous, .slide-next {
  top: 0;
  bottom: 0;
  left: 0;
}
.slide-previous {
  position: absolute;
  z-index: 8;
  width: 2em;
  background-color: rgba(22, 24, 25, 0.2);
  opacity: 0;
  text-align: center;
  font-size: 2em;
  line-height: 12.5em;
  transition: opacity 200ms;
}
.slide-previous:hover {
  opacity: 1;
}
.slide-previous::before {
  content: '\27e8'
}
.slide-next {
  display: none;
  position: fixed;
  right: 0;
  z-index: 7;
}
.slide-toggle:checked + .slide .slide-next {
  display: block;
}
.slide:nth-child(4n) h1 {
  color: #467286;
}
.slide:nth-child(4n) code, .slide:nth-child(4n) pre {
  background-color: #d2d7d9;
}
.slide.slide-cover, .slide.slide-title {
  padding: 1em 0;
}
.slide.slide-cover {
  counter-reset: slide;
  background-color: transparent;
  animation: fade-in 3s;
}
.slide.slide-cover, .slide.slide-cover h1 {
  color: #617078;
}
.slide.slide-cover::after {
  display: none;
}
.slide.slide-cover h1, .slide.slide-cover p,
.slide.slide-title h1, .slide.slide-title p {
  margin: auto;
  text-align: center;
}
.slide.slide-cover h1 {
  margin: 0.75em 0 0.25em 0;
  font-size: 6em;
}
.slide.slide-title h1 {
  margin: 2.5em 0 0.5em 0;
  font-size: 3em;
}
.slide.slide-cover p,
.slide.slide-title p {
  width: 16em;
  font-size: 1.5em;
}
.half {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.half:first-child {
  padding-right: 1em;
}
.half + .half {
  padding-left: 1em;
}
.timeline {
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  font-size: 0.8em;
}
.timeline th, .timeline td {
  position: relative;
}
.timeline th {
  border: solid #467286;
  border-width: 0 0 0.1875em 0;
  padding: 0.5em 0;
}
.timeline th::before {
  content: '';
  display: block;
  position: absolute;
  top: 2.3em;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  margin-left: -0.25em;
  border-radius: 0.25em;
  background-color: #467286;
  z-index: 1;
}
.timeline td {
  vertical-align: top;
  top: 9em;
}
.timeline td:nth-child(2n) {
  top: 2em;
}
.timeline td::before, .timeline td p {
  background-color: #859fab;
}
.timeline td::before {
  content: '';
  display: block;
  position: absolute;
  top: -9em;
  left: 50%;
  width: 0.1875em;
  height: 10em;
  margin: -0.09375em;
}
.timeline td:nth-child(2n)::before {
  top: -2em;
  height: 3em;
}
.timeline td p {
  margin: 0 -1.3em;
  padding: 0.3em 1em;
  line-height: 1.2;
}
.timeline td p:first-child {
  border-radius: 0.5em 0.5em 0 0;
  padding-top: 0.8em;
}
.timeline td p:last-child {
  border-radius: 0 0 0.5em 0.5em;
  padding-bottom: 0.8em;
}
.timeline td p:first-child:last-child {
  border-radius: 0.5em;
}
.demo {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
.demo-key {
  color: gray;
  font-family: monospace;
}
.demo-direction {
  color: blue;
  font-weight: bold;
}
.demo-margin, .demo-border, .demo-padding, .demo-content {
  position: relative;
}
.demo-margin::before, .demo-border::before, .demo-padding::before {
  display: block;
  position: absolute;
  padding: 0.5em;
  top: 0;
  left: 0;
  line-height: 0.5;
}
.demo-margin {
  border: 0.15em dashed #d8e60a;
  padding: 1.5em;
  background-color: rgba(216, 230, 10, 0.2)
}
.demo-margin + .demo-margin {
  margin-top: -1.65em;
}
.demo-margin::before {
  content: 'margin';
}
.demo-border {
  padding: 0.5em;
  background-color: #737373;
}
.demo-border::before {
  content: 'border';
  right: 0;
  left: auto;
  z-index: 1;
  background-color: #737373;
  color: #d2d7d9;
}
.demo-padding {
  padding: 1.5em;
  background-color: #e3dcff;
}
.demo-padding::before {
  content: 'padding';
}
.demo-content {
  height: 2em;
  border: 0.15em dashed #54a9ff;
  background-color: #cff0fb;
  line-height: 2em;
  text-align: center;
}
.demo-content::before {
  content: 'content';
}
.demo-layer {
  padding: 1em;
  background-color: rgba(22, 24, 25, 0.1);
}
.demo-layer span {
  float: left;
  margin: -1em -0.8em;
}
.demo-quote {
  position: relative;
  margin: 0 0 0 2.25em;
  z-index: 9;
}
.demo-quote::before, .demo-quote cite {
  color: #859fab;
}
.demo-quote::before {
  content: '\201c';
  display: block;
  position: absolute;
  top: -0.2em;
  left: -0.6em;
  font-size: 4em;
}
.demo-quote cite {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  transition: height 400ms, opacity 200ms;
}
.demo-quote:hover cite {
  height: 1em;
  opacity: 1;
  transition: height 400ms, opacity 200ms 200ms;
}
@media (max-aspect-ratio: 1/1) {
  body {
    font-size: 4vw;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
